@using Mu.Repository;
@{
    var ranking = Mu.Models.Ranking.GetResetRanking();
    int Count = 1;
    Layout = null;
}

<legend>Ranking Reset</legend>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Colocação
            </th>
            <th>
                Nome
            </th>
            <th>
                Class
            </th>
            <th>
                Resets
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ranking)
        {
            <tr>
                <td>
                    @(Count)º
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @(((CharacterExtensions.Classes)item.Class).ToString().Replace("_", " "))
                </td>
                <td>
                    @item.Resets
                </td>
            </tr>
            { Count++; }
        }
    </tbody>
</table>
