@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/stylesheets/bootstrap")


</head>
<body>
    <br />
    <br />
    <div class="container">

        <div class="container">
            <div class="col-md-8 col-md-offset-2 vcenter">
                <div class="jumbotron">
                    <center>
                        <h1>ATUALIZOU!!! V0.4</h1>
                        <h2>
                            Faça o <a href="http://download.danielporto.net/MuBetaV04.rar">Download</a><br />
                        </h2>
                        <p>e execute o .reg                    com a resolução e depois o Launcher.exe</p>

                    </center>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/scripts/bootstrap")
</body>
</html>


