@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="col-md-8 col-md-offset-2 vcenter">
        <div class="jumbotron">
            <center>
                <h1>ATUALIZOU!!!@Mu.Config.Version</h1>
                <h2>
                    Faça o <a href="@Mu.Config.DownloadClientUrl">Download</a><br />
                </h2>
                <p>e execute o .reg                    com a resolução e depois o Launcher.exe</p>

            </center>
        </div>
    </div>
</div>




